{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <title>Atomex | Customer </title>
    {% include 'css.html' %}
</head>

<body class="light">
    <!-- Page Loader -->

    <!-- #END# Page Loader -->
    <!-- Overlay For Sidebars -->
    <div class="overlay"></div>
    <!-- #END# Overlay For Sidebars -->
    <!-- Top Bar -->
    {% include 'nav.html' %}
    <!-- #Top Bar -->
    <div>
        <!-- Left Sidebar -->
        {% include 'leftsidebar.html' %}
        <!-- #END# Left Sidebar -->

        <!-- Right Sidebar -->
        {% include 'rightsidebar.html' %}
        <!-- #END# Right Sidebar -->
    </div>
    <section class="content">
        <div class="container-fluid">
            <div class="block-header">

                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <ul class="breadcrumb breadcrumb-style ">
                            <li class="breadcrumb-item">
                                <h4 class="page-title">Customre </h4>
                            </li>
                            <li class="breadcrumb-item bcrumb-1">
                                <a href="../../index.html">
                                    <i class="fas fa-home"></i> Customre Data</a>
                            </li>
                            <!-- <li class="breadcrumb-item bcrumb-2">
                                <a href="#" onClick="return false;">Tables</a>
                            </li>
                            <li class="breadcrumb-item active">Export Tables</li> -->
                        </ul>
                    </div>


                </div>
            </div>
            <div class="col-sm-8">
                <div class="card card-success">
                    <div class="card-header">
                        <h3 class="card-title">Linear Regression -Startup Prediction</h3>
                    </div>
                    <div class="card-body">
                        Give the info belove
                    </div>
                    <div class="card-footer">
                        The fo
                    </div>
                </div>
            </div>

        </div>
    </section>


    {% include 'js.html' %}
</body>