{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <title>MLOPS | Startup </title>
    {% include 'css.html' %}
</head>

<body class="light">

    {% include 'nav.html' %}

    <div>
        <!-- Left Sidebar -->
        {% include 'leftsidebar.html' %}
        <!-- #END# Left Sidebar -->

        <!-- Right Sidebar -->
        {% include 'rightsidebar.html' %}
        <!-- #END# Right Sidebar -->
    </div>
    <section class="content">
        <div class="container-fluid">
            <div class="block-header">

                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <ul class="breadcrumb breadcrumb-style ">
                            <li class="breadcrumb-item">
                                <h4 class="page-title">Multi Linear Regression </h4>
                            </li>
                            <li class="breadcrumb-item bcrumb-1">
                                <a href="../../index.html">
                                    <i class="fas fa-home"></i> Startup Data</a>
                            </li>
                            <!-- <li class="breadcrumb-item bcrumb-2">
                                <a href="#" onClick="return false;">Tables</a>
                            </li>
                            <li class="breadcrumb-item active">Export Tables</li> -->
                        </ul>
                    </div>


                </div>
            </div>
            <div class="col-sm-8">
                <div class="card card-success">
                    <div class="card-header">
                        <h3 class="card-title">Linear Regression -Startup Prediction</h3>
                    </div>
                    <div class="card-body">
                        Machine Learning Multiple Linear Regression - Startup Prediction using Customer Input
                    </div>
                    <div class="card-footer">
                        Fill up the form
                        <div class="ml-container">

                            <form method="POST">
                                {% csrf_token %}

                                <p>Enter R&D Amount: </p>
                                <div class="wrap-input1 validate-input">
                                    {{ form.rnd }}

                                    <span class="shadow-input1"></span>
                                </div>
                                <p>Enter Administration Amount: </p>
                                <div class="wrap-input1 validate-input">
                                    {{ form.admin }}

                                    <span class="shadow-input1"></span>
                                </div>
                                <p>Enter Marketing Amount: </p>
                                <div class="wrap-input1 validate-input">
                                    {{ form.marketing }}

                                    <span class="shadow-input1"></span>
                                </div>
                                <p>Enter State: </p>
                                <div class="wrap-input1 validate-input">
                                    {{ form.state }}

                                    <span class="shadow-input1"></span>
                                </div>

                                <br>
                                <br>
                                <br>
                                <div class="container-contact1-form-btn">
                                    <input type="submit" class="btn btn-primary btn-lg" name="submit">
                                </div>

                            </form>

                        </div>

                    </div>
                </div>
            </div>

        </div>
    </section>


    {% include 'js.html' %}
</body>