{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <title>MLOPS | Startup </title>
    {% include 'css.html' %}
</head>

<body class="light">

    {% include 'nav.html' %}

    <div>
        <!-- Left Sidebar -->
        {% include 'leftsidebar.html' %}
        <!-- #END# Left Sidebar -->

        <!-- Right Sidebar -->
        {% include 'rightsidebar.html' %}
        <!-- #END# Right Sidebar -->
    </div>
    <section class="content">
        <div class="container-fluid">
            <div class="block-header">

                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <ul class="breadcrumb breadcrumb-style ">
                            <li class="breadcrumb-item">
                                <h4 class="page-title">Multi Class Classification</h4>
                            </li>
                            <li class="breadcrumb-item bcrumb-1">
                                <a href="../../index.html">
                                    <i class="fas fa-home"></i> Wine Classification</a>
                            </li>
                            <!-- <li class="breadcrumb-item bcrumb-2">
                                <a href="#" onClick="return false;">Tables</a>
                            </li>
                            <li class="breadcrumb-item active">Export Tables</li> -->
                        </ul>
                    </div>


                </div>
            </div>
            <div class="col-sm-8">
                <div class="card card-success">
                    <div class="card-header">
                        <h3 class="card-title">Multi Class Classification -Wine Classification</h3>
                    </div>
                    <div class="card-body">
                        Machine Learning Multi Class Classification - Wine Classification using custom Input
                    </div>
                    <div class="card-footer">
                        Enter the values
                        <div class="ml-container">

                            <form method="POST">
                                {% csrf_token %}

                                <p>Enter alcohol: </p>
                                <div class="wrap-input1 validate-input">
                                    {{ form.alcohol }}

                                    <span class="shadow-input1"></span>
                                </div>

                                <p>Enter malic acid: </p>
                                <div class="wrap-input1 validate-input">
                                    {{ form.malic_acid }}

                                    <span class="shadow-input1"></span>
                                </div>

                                <p>Enter ash : </p>
                                <div class="wrap-input1 validate-input">
                                    {{ form.ash }}

                                    <span class="shadow-input1"></span>
                                </div>

                                <p>Enter acl : </p>
                                <div class="wrap-input1 validate-input">
                                    {{ form.acl }}

                                    <span class="shadow-input1"></span>
                                </div>

                                <p>Enter mg : </p>
                                <div class="wrap-input1 validate-input">
                                    {{ form.mg }}

                                    <span class="shadow-input1"></span>
                                </div>

                                <p>Enter phenols: </p>
                                <div class="wrap-input1 validate-input">
                                    {{ form.phenols }}

                                    <span class="shadow-input1"></span>
                                </div>

                                <p>Enter flavanoids Amount: </p>
                                <div class="wrap-input1 validate-input">
                                    {{ form.flavanoids }}

                                    <span class="shadow-input1"></span>
                                </div>

                                <p>Enter nonflavanoid_phenols : </p>
                                <div class="wrap-input1 validate-input">
                                    {{ form.nonflavanoid_phenols }}

                                    <span class="shadow-input1"></span>
                                </div>
                                <p>Enter proanth : </p>
                                <div class="wrap-input1 validate-input">
                                    {{ form.proanth }}

                                    <span class="shadow-input1"></span>
                                </div>
                                <p>Enter color_int : </p>
                                <div class="wrap-input1 validate-input">
                                    {{ form.color_int }}

                                    <span class="shadow-input1"></span>
                                </div>
                                <p>Enter hue : </p>
                                <div class="wrap-input1 validate-input">
                                    {{ form.hue }}

                                    <span class="shadow-input1"></span>
                                </div>
                                <p>Enter od : </p>
                                <div class="wrap-input1 validate-input">
                                    {{ form.od }}

                                    <span class="shadow-input1"></span>
                                </div>
                                <p>Enter proline : </p>
                                <div class="wrap-input1 validate-input">
                                    {{ form.proline }}

                                    <span class="shadow-input1"></span>
                                </div>

                                <div class="container-contact1-form-btn">
                                    <input type="submit" class="btn btn-primary btn-lg" name="submit">
                                </div>

                            </form>

                        </div>

                    </div>
                </div>
            </div>

        </div>
    </section>


    {% include 'js.html' %}
</body>